# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/
ENV/

# macOS
.DS_Store

# VS Code / IDE
.vscode/
.idea/

# Streamlit temporary
.streamlit/secrets.toml
.streamlit/config.toml

# Data upload (chỉ dùng tạm, không commit)
data/uploads/

# Logs
*.log
